<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"]</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/favicon/favicon.ico">
    <script type="text/javascript" src="javascript/scripts.js"></script>
    <script src="https://kit.fontawesome.com/daecb19bc1.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class=page>
        <h1><img src="/images/icon1.png" alt="Icon1" />Chirp!</h1>
        <!--
        taken from the https://github.com/itu-bdsa/lecture_notes/blob/main/sessions/session_08/README_PROJECT.md
        -->
            <div class=navigation>
            @if (User.Identity!.IsAuthenticated)
            {
                    <div>
                        <a href="/@(User.Identity.Name)">My timeline</a> |
                        <a href="/">Public timeline</a> |
                        <a href="/aboutme">About Me</a> |
                        <a href="/Identity/Account/Logout">Logout [@(User.Identity.Name)]</a>
                    </div>
            }
            else
            {
                    <div>
                        <a href="/">Public timeline</a> |
                         <a href="/Identity/Account/Register">Register</a> |
                         <a href="/Identity/Account/Login">Login</a>
                    </div>
            }
            </div>
              
            <div class=body>
            @RenderBody()
            </div>
            <div class=footer>
            @{
                double numberOfPages = Math.Ceiling((double)Model.AllCheeps / 32);
            }
            @if (numberOfPages > 1)
            {
                    <ul class="pagination">
                    @for (int i = 1; i <= numberOfPages; i++)
                    {
                            <li><a href="?page=@i">@i</a></li>
                    }
                    </ul>
            }
                Chirp &mdash; An ASP.NET Application
            </div>
    </div>
    
</body>

</html>