@page "/"
@model Chirp.Razor.Pages.TimelineModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

@if (User.Identity!.IsAuthenticated) 
{
    <partial name="_Cheepbox"/>
}
<div>
    <h2> Public Timeline </h2>
    @if (Model.Cheeps.Any())
    {
        <partial name="_Cheeps"/>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
