@page "/{author}"
@model Chirp.Razor.Pages.UserTimelineModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

@if (User.Identity!.IsAuthenticated)
    {   
        @Html.Partial("Shared/_Cheepbox.cshtml")
    }

<div>
    <h2> @routeName's Timeline </h2>
    
    @if (Model.Cheeps.Any())
    {
        @Html.Partial("Shared/_Cheeps.cshtml")
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
